{% extends 'base.html.twig' %}

{% block title %}Création type societé{% endblock %}

{% block body %}

    <div class="row pl-4">
        <a class="btn btn-sm btn-danger" href="{{ path('type_societe') }}">Liste</a>
    </div>

    <div class="row p-4">
        {{ form_start(formTypeSociete, {'attr' : {'class':'add-codePost-form col-md-8'}}) }}
            {{form_row(formTypeSociete.nom,{'label' : 'Nom', 'attr' : {'class':'form-control'}})}}
            <div class="pt-4">
                <button type="submit" class="btn btn-sm btn-success">
                    {% if isEdit %}Mettre à jour{% else %}Enregistrer{% endif %}
                </button>
                <a class="btn btn-sm btn-danger" href="{{ path('type_societe') }}">Annuler</a>
            </div>
        {{ form_end(formTypeSociete) }}
    </div>

{% endblock %}