{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}

{% block body %}

    <div class="row pl-4 pt-5">
        <a class="btn btn-sm btn-primary" href="{{ path('add_ville') }}">Ajouter</a>
    </div>

    <div class="row message-content">
        {% for label, messages in app.flashes(['success', 'danger']) %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="row p-4">
        <table class="table table-hover table-responsive-lg col-md-12">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th class="text-center">Code postal</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                    {% for ville in villes %}
                    {# {{ dump(ville) }} #}
                        <tr>
                            <td>{{ ville.libelle }}</td>
                            <td class="text-center">{{ ville.codepostal.libelle }}</td>
                            <td class="text-center">
                                <a class="btn btn-sm btn-light" href="{{ path('edit_ville', {'id': ville.id}) }}">Edit</a>
                                <a class="btn btn-sm btn-danger"  onclick="confirm('Are you sure?'')" href="{{ path('delete_ville', {'id': ville.id}) }}">Delete</a>
                                {# {{ form(delete_form, {'attr': {'onclick': 'return confirm("Are you sure?")'}}) }} #}
                            </td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}