<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="{{ path('home') }}">Test</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">Acceuil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('dirigeants') }}">Dirigeant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('societes') }}">Société</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('type_societes') }}">Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('villes') }}">Ville</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('code_postals') }}">Code postale</a>
                </li>
            </ul>
        </div>
        </nav>

        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>

        <script src="{{asset("js/jquery.min.js")}}"></script>
        <script src="{{asset("js/bootstrap.min.js")}}"></script>
        <script src="{{asset("js/style.js")}}"></script>
    </body>
</html>
